/**font style**/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

/**common css**/

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
}
.container{
    width:1200px;
    margin: auto;
    
}





/**-----------header area-----------***/
.header-area{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.header-area .logo-area{
    display: flex;
    align-items: center;
    
}
.logo-area h1{
    background-color: #458FF6;
    color: aliceblue;
    font-size: 30px;
    padding: 10px 20px;
    border-radius:50%;
}

.logo-area h2{
    color:#233348;
    margin-left: 20px;
}
.nav-area a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    color: #ABA7B2;
}
.health-care{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.health-text h1{
    font-weight: bold;
    font-size: 40px;

}
.health-text p{
  
    font-size: 18px;
    color: #7D7987;
    margin: 10px 0;
   
}
.health-text .btn{
background-color:#458FF6;
border: none;
padding: 10px 20px;
border-radius: 20px;
color: aliceblue;
margin-top: 20px;
}
.health-img img{
    width: 500px;
    height: 500px;
}




/******service-area*******/
.service-top{
    text-align: center;
    margin-top: 100px;
}
.service-top h2{
    font-weight: bold;
    font-size: 40px;
}
.service-top hr{
    border: 2px solid black;
    width: 5%;
    margin-left: 550px;
   margin-top: 20px;
   
}
.service-top p{
    color:#7D7987;
    font-size: 16px;
    margin-top: 20px;
}
.service-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 100px;
    background-color: #EEF6FE;
    padding: 20px ;
}
.service-text{
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 30px;
    background-color:white;
   
}
.service-area  button{
    border-radius: 25px;
    border: 2px solid #5C9DF7;
    padding: 10px 20px;
    color:#5C9DF7 ;
    margin-top: 50px;
    margin-left: 550px;
}




/**Leading-healthcare***/
.Leading-healthcare{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.Leading-healthcare img{
    width: 600px;
    height: 500px;
}
.health-text2 h3{
    font-weight: bold;
    font-size: 36px;
}
.health-text2  hr{
    border: 1px solid black;
    width: 10%;
    margin: 10px 0;
}
.health-text2  p{
    color:#7D7987;
    font-size: 16px;
    margin-top: 20px;

}
.health-text2 button{
    border-radius: 25px;
    border: 2px solid #5C9DF7;
    padding: 10px 20px;
    color:#5C9DF7 ;
    margin-top: 50px;

}
.health-text2  i{
    margin-left: 10px;
}





/***customar-area**/
.customar {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    color: azure;
    padding:10px;


}
.customar1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 20px;

   
}
.customar-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customar-title{
    margin-left: 20px;
}